{% extends 'layout.html' %} {% block style %}
<style>
#plot11 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#control1 {
    position: absolute;
    left: 30px;
    top: 30px;
}

#count1 {
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
    color: rgb(243, 230, 162);
}

#plot12 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot13 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot21 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot22 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot23 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot31 {
    width: 100%;
    height: 420px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#control3 {
    position: absolute;
    left: 30px;
    top: 30px;
}

#plot32 {
    width: 100%;
    height: 420px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot41 {
    width: 100%;
    height: 300px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot42 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot43 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot51 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot52 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
}

#plot53 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
}

.control span {
    display: inline-block;
}

.control span:hover {
    cursor: pointer;
}

.control p {
    margin-left: 6px;
    display: inline-block;
}
</style>
{% endblock %} {% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="plot-title">实时公交分布热力图</div>
        <div style="position:relative;">
            <div id="plot11">
            </div>
            <div id="control1" class="control">
                <span class="fa fa-fw fa-play"></span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="plot-title">历史公交车数量</div>
        <div id="plot12"></div>
        <div class="plot-title">实时公交车数量</div>
        <div id="plot13">
            <p id="count1"></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="plot-title">历史出租车数量</div>
        <div id="plot21"></div>
        <div class="plot-title">实时出租车数量</div>
        <div id="plot22"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="plot-title">实时出租车分布热力图</div>
        <div id="plot23">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="plot-title">实时公交车车速</div>
        <div style="position:relative;">
            <div id="plot31"></div>
            <div id="control3" class="control">
                <span class="fa fa-fw fa-play"></span>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="plot-title">实时出租车车速</div>
        <div id="plot32">
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="plot-title">实时地铁</div>
        <div id="plot41">
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="plot-title">实时商圈人流</div>
        <div id="plot51"></div>
        <div class="plot-title">历史商圈人流</div>
        <div id="plot52"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="plot-title">实时商圈人流分布</div>
        <div id="plot53">
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#nav1').addClass('active');

    var dataset = eval({{dataset | safe}});
    console.log(dataset);

    if (dataset['current'] % 2 == 0) {
        $('.control p').text(parseInt(parseInt(dataset['current']) / 2) + ':00');
    } else {
        $('.control p').text(parseInt(parseInt(dataset['current']) / 2) + ':30');
    }

    var colors2 = d3.interpolate(d3.rgb(231, 198, 57), d3.rgb(207, 91, 100));

    var plot11 = echarts.init(document.getElementById('plot11'), 'dark');
    var heatmapOption = {
        animation: false,
        bmap: {
            center: [123.43, 41.81],
            zoom: 11,
            roam: false,
            mapStyle: mapstyle
        },
        visualMap: {
            show: false,
            left: 15,
            bottom: 5,
            min: 0,
            max: 5,
            seriesIndex: 0,
            calculable: true,
            inRange: {
                // color: ['#50a3ba', '#eac736', '#d94e5d']
                color: ['blue', 'blue', 'green', 'yellow', 'red']
            }
        },
        series: [{
            type: 'heatmap',
            coordinateSystem: 'bmap',
            data: dataset.bus_hotmap[dataset.current],
            pointSize: 5,
            blurSize: 6
        }]
    };
    plot11.setOption(heatmapOption);
    $('#count1').text(dataset.bus_hotmap[dataset.current].length);

    var interval1;
    var current1 = parseInt(dataset.current);
    $('#control1 span').click(function(event) {
        $(this).toggleClass('fa-play').toggleClass('fa-pause');
        if ($(this).hasClass('fa-pause')) {
            interval1 = setInterval(function() {
                current1 = (current1 + 1) % 48;
                if (current1 == 0) {
                    current1 = 19;
                }
                if (current1 % 2 == 0) {
                    $('#control1 p').text(parseInt(parseInt(current1) / 2) + ':00');
                } else {
                    $('#control1 p').text(parseInt(parseInt(current1) / 2) + ':30');
                }
                var tmp = heatmapOption;
                tmp.series[0].data = dataset.bus_hotmap[String(current1)];
                plot11.setOption(tmp);
                // var count1 = new CountUp("count1", parseInt($('#count1').text()), dataset.bus_hotmap[String(current1)].length, 0, 1);
                // count1.start();
                $('#count1').text(dataset.bus_hotmap[String(current1)].length);
                if (current1 == 19) {
                    $('#control1 span').toggleClass('fa-play').toggleClass('fa-pause');
                    clearInterval(interval1);
                }
            }, 1000);
        } else {
            clearInterval(interval1);
        }
    });

    var tmp = [
        [],
        []
    ];
    for (var i = 19; i < 48; i++) {
        if (i % 2 == 0) {
            tmp[0].push(parseInt(parseInt(i) / 2) + ':00');
        } else {
            tmp[0].push(parseInt(parseInt(i) / 2) + ':30');
        }
        tmp[1].push(dataset.bus_hotmap[String(i)].length);
    }
    var plot12 = echarts.init(document.getElementById('plot12'), 'dark');
    plot12.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: 20,
            right: 25,
            bottom: 20,
            top: 30,
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            data: tmp[0],
            axisTick: {
                alignWithLabel: true
            }
        }],
        yAxis: [{
            type: 'value',
            splitNumber: 4
        }],
        series: [{
            name: '历史公交车数量',
            data: tmp[1],
            type: 'line',
            symbol: 'none',
            showSymbol: false,
            smooth: true,
        }]
    });

    var plot23 = echarts.init(document.getElementById('plot23'), 'dark');
    plot23.setOption(heatmapOption);

    var plot31 = echarts.init(document.getElementById('plot31'), 'dark');
    plot31.setOption({
        backgroundColor: '#404a59',
        legend: {
            right: 20,
            bottom: 20,
            data: ['低速', '中速', '高速'],
            textStyle: {
                color: '#fff'
            }
        },
        animation: false,
        bmap: {
            center: [123.43, 41.81],
            zoom: 11,
            roam: false,
            mapStyle: mapstyle
        },
        series: [{
            name: '低速',
            type: 'scatter',
            coordinateSystem: 'bmap',
            symbolSize: 3,
            large: true,
            itemStyle: {
                normal: {
                    shadowBlur: 2,
                    shadowColor: 'rgba(37, 140, 249, 0.8)',
                    color: 'rgba(37, 140, 249, 0.8)'
                }
            },
            data: dataset.bus_speedmap[dataset.current][0]
        }, {
            name: '中速',
            type: 'scatter',
            coordinateSystem: 'bmap',
            symbolSize: 3,
            large: true,
            itemStyle: {
                normal: {
                    shadowBlur: 2,
                    shadowColor: 'rgba(14, 241, 242, 0.8)',
                    color: 'rgba(14, 241, 242, 0.8)'
                }
            },
            data: dataset.bus_speedmap[dataset.current][1]
        }, {
            name: '高速',
            type: 'scatter',
            coordinateSystem: 'bmap',
            symbolSize: 3,
            large: true,
            itemStyle: {
                normal: {
                    shadowBlur: 2,
                    shadowColor: 'rgba(203, 254, 255, 0.8)',
                    color: 'rgba(203, 254, 255, 0.8)'
                }
            },
            data: dataset.bus_speedmap[dataset.current][2]
        }]
    });

    var interval3;
    var current3 = parseInt(dataset.current);
    $('#control3 span').click(function(event) {
        $(this).toggleClass('fa-play').toggleClass('fa-pause');
        if ($(this).hasClass('fa-pause')) {
            interval3 = setInterval(function() {
                current3 = (current3 + 1) % 48;
                if (current3 == 0) {
                    current3 = 19;
                }
                if (current3 % 2 == 0) {
                    $('#control3 p').text(parseInt(parseInt(current3) / 2) + ':00');
                } else {
                    $('#control3 p').text(parseInt(parseInt(current3) / 2) + ':30');
                }
                plot31.setOption({
                    backgroundColor: '#404a59',
                    legend: {
                        right: 20,
                        bottom: 20,
                        data: ['低速', '中速', '高速'],
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    animation: false,
                    bmap: {
                        center: [123.43, 41.81],
                        zoom: 11,
                        roam: false,
                        mapStyle: mapstyle
                    },
                    series: [{
                        name: '低速',
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        symbolSize: 3,
                        large: true,
                        itemStyle: {
                            normal: {
                                shadowBlur: 2,
                                shadowColor: 'rgba(37, 140, 249, 0.8)',
                                color: 'rgba(37, 140, 249, 0.8)'
                            }
                        },
                        data: dataset.bus_speedmap[String(current3)][0]
                    }, {
                        name: '中速',
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        symbolSize: 3,
                        large: true,
                        itemStyle: {
                            normal: {
                                shadowBlur: 2,
                                shadowColor: 'rgba(14, 241, 242, 0.8)',
                                color: 'rgba(14, 241, 242, 0.8)'
                            }
                        },
                        data: dataset.bus_speedmap[String(current3)][1]
                    }, {
                        name: '高速',
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        symbolSize: 3,
                        large: true,
                        itemStyle: {
                            normal: {
                                shadowBlur: 2,
                                shadowColor: 'rgba(203, 254, 255, 0.8)',
                                color: 'rgba(203, 254, 255, 0.8)'
                            }
                        },
                        data: dataset.bus_speedmap[String(current3)][2]
                    }]
                });
                if (current3 == 19) {
                    $('#control3 span').toggleClass('fa-play').toggleClass('fa-pause');
                    clearInterval(interval3);
                }
            }, 1000);
        } else {
            clearInterval(interval3);
        }
    });

    // var plot32 = echarts.init(document.getElementById('plot32'), 'dark');
    // plot32.setOption(heatmapOption);

    // var plot41 = echarts.init(document.getElementById('plot41'), 'dark');
    // plot41.setOption(heatmapOption);

    var plot51 = echarts.init(document.getElementById('plot51'), 'dark');
    var categories = [];
    var data = [];
    for (var key in dataset.json.human.bar) {
        categories.push(key);
        data.push(dataset.json.human.bar[key][parseInt(dataset.json.human.hour)]);
    }
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: 20,
            right: 20,
            bottom: 20,
            top: 30,
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            data: categories,
            axisTick: {
                alignWithLabel: true
            }
        }],
        yAxis: [{
            type: 'value',
            splitNumber: 4
        }],
        series: [{
            name: '实时商圈人流',
            type: 'bar',
            barWidth: '60%',
            data: data
        }]
    };
    plot51.setOption(option);

    var plot52 = echarts.init(document.getElementById('plot52'), 'dark');
    var tmp = [];
    for (var key in dataset.json.human.bar) {
        tmp.push({
            name: key,
            type: 'line',
            symbol: 'none',
            showSymbol: false,
            smooth: true,
            data: dataset.json.human.bar[key],
        });
    }
    var option = {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: 60,
            right: 20,
            top: 30,
            bottom: 40
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: true
            },
            data: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
        },
        yAxis: {
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 16
            }
        },
        series: tmp
    };
    plot52.setOption(option);

    function getLevelOption() {
        return [{
            itemStyle: {
                normal: {
                    borderWidth: 0,
                    gapWidth: 1
                }
            }
        }, {
            itemStyle: {
                normal: {
                    gapWidth: 1
                }
            }
        }, {
            colorSaturation: [0.35, 0.5],
            itemStyle: {
                normal: {
                    gapWidth: 1,
                    borderColorSaturation: 0.6
                }
            }
        }];
    }
    var plot53 = echarts.init(document.getElementById('plot53'), 'dark');
    plot53.setOption({
        tooltip: {
            // formatter: function(info) {
            //     var value = info.value;
            //     var name = info.name;

            //     return [
            //         '<div class="tooltip-title">' + name + '</div>',
            //         '新闻数量 ' + value,
            //     ].join('');
            // }
        },
        series: [{
            name: '实时商圈人流分布',
            type: 'treemap',
            visibleMin: 1,
            roam: false,
            breadcrumb: {
                show: true,
                top: 450
            },
            label: {
                show: true,
                formatter: '{b}'
            },
            itemStyle: {
                normal: {
                    borderColor: '#fff',
                }
            },
            levels: getLevelOption(),
            data: dataset.json.human.tree[dataset.json.human.hour],
            animationDuration: 800
        }]
    });
});
</script>
{% endblock %}