{% extends 'layout.html' %} {% block style %}
<style>
#plot11 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot12 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot13 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot21 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot22 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot23 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot31 {
    width: 100%;
    height: 420px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot32 {
    width: 100%;
    height: 420px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot41 {
    width: 100%;
    height: 300px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot42 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot43 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot51 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot52 {
    width: 100%;
    height: 215px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}

#plot53 {
    width: 100%;
    height: 487px;
    background-color: #30323c !important;
    margin-bottom: 30px;
}
</style>
{% endblock %} {% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="plot-title">实时公交</div>
        <div id="plot11">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="plot-title">这里是标题</div>
        <div id="plot12"></div>
        <div class="plot-title">这里是标题</div>
        <div id="plot13"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="plot-title">这里是标题</div>
        <div id="plot21"></div>
        <div class="plot-title">这里是标题</div>
        <div id="plot22"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="plot-title">实时出租车</div>
        <div id="plot23">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="plot-title">公交车速</div>
        <div id="plot31"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="plot-title">出租车车速</div>
        <div id="plot32">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="plot-title">实时地铁</div>
        <div id="plot41">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="plot-title">实时商圈人流</div>
        <div id="plot51"></div>
        <div class="plot-title">历史商圈人流</div>
        <div id="plot52"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="plot-title">实时商圈人流分布</div>
        <div id="plot53">
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#nav1').addClass('active');

    var dataset = eval({{dataset | safe}});
    console.log(dataset);

    var colors2 = d3.interpolate(d3.rgb(231, 198, 57), d3.rgb(207, 91, 100));

    var plot11 = echarts.init(document.getElementById('plot11'), 'dark');
    var heatmapOption = {
        animation: false,
        bmap: {
            center: [123.43, 41.81],
            zoom: 11,
            roam: false,
            mapStyle: mapstyle
        },
        visualMap: {
            show: true,
            left: 15,
            bottom: 5,
            min: 0,
            max: 5,
            seriesIndex: 0,
            calculable: true,
            inRange: {
                color: ['#50a3ba', '#eac736', '#d94e5d']
            }
        },
        series: [{
            type: 'heatmap',
            coordinateSystem: 'bmap',
            data: [
                [123.43, 41.81, 5],
            ],
            pointSize: 5,
            blurSize: 6
        }]
    };
    plot11.setOption(heatmapOption);

    var plot23 = echarts.init(document.getElementById('plot23'), 'dark');
    plot23.setOption(heatmapOption);

    var plot31 = echarts.init(document.getElementById('plot31'), 'dark');
    plot31.setOption(heatmapOption);

    var plot32 = echarts.init(document.getElementById('plot32'), 'dark');
    plot32.setOption(heatmapOption);

    var plot41 = echarts.init(document.getElementById('plot41'), 'dark');
    // plot41.setOption(heatmapOption);

    var plot51 = echarts.init(document.getElementById('plot51'), 'dark');
    var categories = [];
    var data = [];
    for (var key in dataset.json.human.bar) {
        categories.push(key);
        data.push(dataset.json.human.bar[key][parseInt(dataset.json.human.hour)]);
    }
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: 20,
            right: 20,
            bottom: 20,
            top: 30,
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            data: categories,
            axisTick: {
                alignWithLabel: true
            }
        }],
        yAxis: [{
            type: 'value',
            splitNumber: 4
        }],
        series: [{
            name: '实时商圈人流',
            type: 'bar',
            barWidth: '60%',
            data: data
        }]
    };
    plot51.setOption(option);

    var plot52 = echarts.init(document.getElementById('plot52'), 'dark');
    var tmp = [];
    for (var key in dataset.json.human.bar) {
        tmp.push({
            name: key,
            type: 'line',
            symbol: 'none',
            showSymbol: false,
            smooth: true,
            data: dataset.json.human.bar[key],
        });
    }
    var option = {
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: 60,
            right: 30,
            top: 30,
            bottom: 40
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                show: true
            },
            data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
        },
        yAxis: {
            type: 'value',
            splitNumber: 4,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 16
            }
        },
        series: tmp
    };
    plot52.setOption(option);

    function getLevelOption() {
        return [{
            itemStyle: {
                normal: {
                    borderWidth: 0,
                    gapWidth: 1
                }
            }
        }, {
            itemStyle: {
                normal: {
                    gapWidth: 1
                }
            }
        }, {
            colorSaturation: [0.35, 0.5],
            itemStyle: {
                normal: {
                    gapWidth: 1,
                    borderColorSaturation: 0.6
                }
            }
        }];
    }
    var plot53 = echarts.init(document.getElementById('plot53'), 'dark');
    plot53.setOption({
        tooltip: {
            // formatter: function(info) {
            //     var value = info.value;
            //     var name = info.name;

            //     return [
            //         '<div class="tooltip-title">' + name + '</div>',
            //         '新闻数量 ' + value,
            //     ].join('');
            // }
        },
        series: [{
            name: '实时商圈人流分布',
            type: 'treemap',
            visibleMin: 1,
            roam: false,
            breadcrumb: {
                show: true,
                top: 450
            },
            label: {
                show: true,
                formatter: '{b}'
            },
            itemStyle: {
                normal: {
                    borderColor: '#fff',
                }
            },
            levels: getLevelOption(),
            data: dataset.json.human.tree[dataset.json.human.hour],
            animationDuration: 800
        }]
    });
});
</script>
{% endblock %}